.ui.sortable.table thead th {
    border-right: none;
    border-left: none;
}

.ui.sortable.table thead th.sorted {
    background-color: transparent;
}

.ui.labeled.icon.top.right.dropdown.button.visible.active,
.ui.icon.dropdown.button.visible.active {
    .menu.visible {
        display: block !important;
    }
}

i.close.icon {
    margin-left: 10px !important;
}
