.accordion-menu {
    width: 100%;
    margin-bottom: 1rem;
}

.accordion-header {
    background-color: $color-bermuda;
    color: $color-white;
    font-size: 1.7rem;
    padding: 1rem;
}

.accordion-content {
    background-color: whitesmoke;
    border: 1px solid $color-shade;
    border-top: none;
    padding: 1rem;
}
