.sidebar {
    height: 100vh;
    background-color: lighten($color-shell, 5%);
    width: 250px;
    border-right: 1px solid $color-shell;
}

.vertical-menu {
    background-color: white;
}

.vertical-menu .item {
    position: relative;
    display: block;
    padding: 1em;
    border-bottom: 1px solid $color-shell;
    color: $color-mine-shaft;
    font-size: 15px;
    line-height: 1;
    text-decoration: none;
    font-weight: 400;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;
}

.vertical-menu .item:hover {
    cursor: pointer;
    background: lighten($color-shell, 5%);
    color: $color-mine-shaft;
}

.vertical-menu .item-active {
    background: lighten($color-shell, 5%);
    font-weight: bold;
}
