//------------------------------------------------
//  BOX MODEL
// -----------------------------------------------
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

//------------------------------------------------
//	RESETS
// -----------------------------------------------
svg {
  width: 100%;
  height: 100%;
}

//------------------------------------------------
//	TYPOGRAPHY
// -----------------------------------------------
/* Rem sizing trick from http://snook.ca/archives/html_and_css/font-size-with-rem */
html {
  font-size: 62.5%;
}
