//------------------------------------------------
//  BOX MODEL
// -----------------------------------------------
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

//------------------------------------------------
//	RESETS
// -----------------------------------------------
svg {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 100%;
}

//------------------------------------------------
//	TYPOGRAPHY
// -----------------------------------------------
/* Rem sizing trick from http://snook.ca/archives/html_and_css/font-size-with-rem */
html {
  // font-size: 62.5%;
}

body {
    font-family: $font-stack;
}

//------------------------------------------------
//	SITE LAYOUT
// -----------------------------------------------
.wrapper {
    display: flex;
    min-height: 100%;
}

.main-content {
    padding: 1rem;
    flex: 1;
}

//------------------------------------------------
//	SHAME, SHAME, SHAME
// -----------------------------------------------
// Things that I don't know or am to lazy to put in the right place
