.notifications-tr {
    font-family: inherit;
    position: fixed;
    width: auto;
    padding: 0px;
    z-index: 9998;
    box-sizing: border-box;
    height: auto;
    top: 0px;
    bottom: auto;
    left: 260px;
    right: 0px;
}

.notification {
    position: relative;
    width: auto;
    cursor: pointer;
    font-size: 18px;
    margin: 0px;
    padding: 30px 50px;
    display: block;
    box-sizing: border-box;
    opacity: 1;
    transition: 0.3s ease-in-out;

    box-shadow: rgba(94, 164, 0, 0.901961) 0px 0px 1px;
    right: 0px;
    height: 81px;
    opacity: 0.95;

}

.notification-success {
    color: #ffffff;
    background-color: #61b832;
}

.notification-message {
    margin: 0px;
    padding: 0px;
}

.notification-dismiss {
    font-family: Arial;
    font-size: 17px;
    position: absolute;
    top: 4px;
    right: 5px;
    line-height: 15px;
    color: #61b832;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
    opacity: 0.7;
}

.notification-container.isMobile .notifications-tr {
    left: 0;
}
